:root {
  font-size: 16px;
  color: #335576;
  font-weight: 400;
  font-family: "Verdana", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.site-container {
  max-width: 1280px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__item {
  list-style-type: none;
  font-size: 0.85rem;
  margin-right: 1.1rem;
}
.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 0.85rem;
}
.nav__link--active {
  color: #db7a4e;
}
.nav__link--active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5rem;
  border-bottom: 2px solid #db7a4e;
}
.nav__link:hover {
  color: #db7a4e;
}
.nav__branding-link {
  text-decoration: none;
}
.nav__branding-text {
  text-decoration: none;
  font-size: 1.1rem;
  color: #335576;
  padding: 0;
  margin-left: 6rem;
}
.nav__branding-text:hover {
  color: #db7a4e;
}

.destination {
  height: 650px;
  background-size: cover;
  background-position: center;
}
.destination--hawaii {
  background-image: url("../assets/images/hawaii.jpg");
}
.destination--iceland {
  background-image: url("../assets/images/iceland.jpg");
}
.destination--greece {
  background-image: url("../assets/images/greece.jpg");
}
.destination__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem;
}
.destination__title-container {
  width: 100%;
}
.destination__title {
  font-size: 3.75rem;
  margin-right: 68vw;
  color: #fff;
}

.activity-card {
  width: 30%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.5s;
}
.activity-card:hover {
  transform: scale(1.1);
}
.activity-card__container {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.activity-card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.activity-card__text-title {
  border-bottom: 2px solid black;
}
.activity-card__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.activity-card__list-item {
  list-style: none;
  background-color: #fefaf5;
  line-height: 40px;
  margin: 10px;
}

.footer {
  background-color: #fefaf5;
  height: 12rem;
  display: flex;
  justify-content: space-between;
}
.footer__container {
  margin: 2.5rem 4rem 3rem 13rem;
  width: 68%;
  display: flex;
  justify-content: space-between;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  padding-top: 3.75rem;
  z-index: 99;
  width: 100%;
}
.contact__title {
  font-size: 1.4rem;
  margin-bottom: 1.9rem;
}
.contact__sub-text {
  font-size: 0.6rem;
  color: #db7a4e;
  text-transform: uppercase;
}
.contact__text {
  font-size: 0.8rem;
  margin: 0;
}

.hours {
  width: 44%;
}
.hours__container {
  display: flex;
  flex-direction: column;
}
.hours__group {
  display: flex;
  justify-content: space-between;
}
.hours__details {
  display: flex;
  flex-direction: column;
}
.hours__title {
  font-size: 1.4rem;
}
.hours__sub-text {
  font-size: 0.6rem;
  color: #db7a4e;
  text-transform: uppercase;
}
.hours__text {
  font-size: 0.85rem;
  margin: 0;
}

.social__container {
  display: flex;
  justify-content: space-between;
}
.social__image {
  height: 1.4rem;
}
.social__image:not(last-child) {
  margin-right: 30px;
}
.social__title {
  font-size: 1.4rem;
  margin-bottom: 2.7rem;
}/*# sourceMappingURL=hawaii.css.map */