@use './partials/_global.scss' as *;


.hero {
    display: flex;
    background-color: $bg-accent;
    &__container {
        margin: 6rem;
        display: flex;
        justify-content: space-between;
    }
    &__copy {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__title {
        font-size: $fs-xl;
    }
    &__text {
        font-size: $fs-sm;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
    &__graphics {
        width: 40%;
    }
    &__image {
        width: 100%;  
    }
}

.button {
    background-color: $accent;
    padding: 0.5rem 2.5rem;
    border:none;
    border-radius: 20px;
    color: rgba(255,255,255,.9);
    letter-spacing: 0.03rem;
    font-size: $fs-sm-med;      
    &:hover {
        cursor: pointer;
        background-color: $main;
    }
}   

.recommendations {
    &__container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 3rem;
    }
    &__text-container {
        width: 100%;
    }
    &__text {
      font-size: $fs-med-lg;
      margin-right: 68vw; 
    }
}

.card {
    width: 28%;
    border-radius: 5px;
    border: 1px solid $med-dk;
    box-shadow: 0 4px 4px $med-dk;
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.1);
    }
    &__group {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;       
    }
    &__image {
        width: 100%;
        display: block;
       
    }
    &__image-container {
        position: relative;
        padding: 0;
        margin: 0;
    }
    &__title {
        color: $bg-main;
        font-size: $fs-med-lg;
        font-weight: $fw-bold;
        letter-spacing: 0.06rem;
        position: absolute;
        bottom: 0;
        right: 10px;
        margin: 25px 10px;
    }
    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}





