$main: #335576;
$dk: #000;
$lt: #fff;
$accent: #db7a4e;
$bg-main: #fff;
$bg-accent: #fefaf5;
$med-dk: rgba(0,0,0,20%);
$fw-reg: 400; 
$fw-bold: 700;
$fs-xxs: 0.6rem;
$fs-xs: 0.8rem;
$fs-sm: 0.85rem; 
$fs-sm-med: 0.9rem;
$fs-med: 1.1rem;
$fs-med-lg: 1.3rem; 
$fs-lg: 1.7rem; 
$fs-xl: 2.25rem;
$fs-xxl: 3.8rem;
$fs-root: 16px;

:root {
    font-size: $fs-root;
    color: $main;
    font-weight: $fw-reg;
    font-family: 'Verdana', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.site-container {
    max-width: 1280px;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-main;
    &__list {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        list-style-type: none;
        font-size: $fs-sm;
        margin-right: 1.1rem;
    }
    &__link {
        text-decoration: none;
        color: $dk;
        font-size: $fs-sm;
        &--active:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 100%;
            padding-top: 0.5rem;
            border-bottom: 2.5px solid $accent;
        }
    }
        &:hover {
            color: $accent;
        }
    &__branding-link {
        text-decoration: none;

    }
    &__branding-text {
        text-decoration: none;
        font-size: $fs-med;
        color: $main;
        padding: 0;
        margin-left: 6rem;
        &:hover {
            color: $accent;
        }
    }
}


.footer {
    background-color: $bg-accent;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    &__container {
        margin: 2.5rem 4rem 3rem 13rem;
        width: 68%;
        display: flex;
        justify-content: space-between;
   } 
}

.contact {
    &__container {
        display: flex;
        justify-content: space-around;
        padding-top: 3.75rem;
        z-index: 99;
        width: 100%;
    }   
    &__title {
        font-size: $fs-med-lg;
        margin-bottom: 1.9rem;
    }    
    &__sub-text {
        font-size: $fs-xxs;
        color: $accent;
        text-transform: uppercase;
    }
    &__text {
        font-size: $fs-xs;
        margin: 0;
    }
}

.hours {
    width: 44%;
    &__container {
        display: flex;
        flex-direction: column;     
    }  
    &__group {
        display: flex;
        justify-content: space-between;
    } 
    &__details {
        display: flex;
        flex-direction: column;
    }  
    &__title {
        font-size: $fs-med-lg;
    }    
    &__sub-text {
        font-size: $fs-xxs;
        color: $accent;
        text-transform: uppercase;

    }
    &__text {
        font-size: $fs-sm;
        margin: 0;
    }

}

.social {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        height: 1.4rem;
        &:not(last-child) {
            margin-right: 30px;
        }}
    &__title {
        font-size: $fs-med-lg;
        margin-bottom: 2.7rem;
    }

}